h1{
    margin: 0;
    padding: 0;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
ul{
    display: flex;
    gap: 40px;
}
li::marker{
    content: none;
}
.herosection{
    text-align: center;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

    padding: 20px;
    min-height: 350px;
    background-image: url("/images/aero\ img\ 7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.abouttext{
    flex: 3;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
    
    
    ;

.aboutsection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
    
.aboutsection img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    /* flex: 1; */


}
.imagesection{
    flex: 1;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.aboutcompany{
    font-size: 30px;
    /* display: flex; */
    gap: 20px;
    padding: 20px;
    border-image-repeat: repeat;
    height: 800px;
    width: 2200px;
}
.footer{
    background-color:gray;
    text-align: left;
}


@media(max-width:480px){
    .navbar{
        /* background-color: red; */
        flex-direction: column; 
        gap: 20px;    

}
}
